<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM test">
    <listeners>
        <listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG" />
    </listeners>

    <test verbose="2" preserve-order="true" name="CRM test">
        <classes>
            <class name="com.crm.qa.testcases.ContactsPageTest"></class>
            <class name="com.crm.qa.testcases.HomePageTest"></class>
            <class name="com.crm.qa.testcases.LoginPageTest"></class>
        </classes>





    </test>
</suite>